# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore crash logs
crash.log
crash.*

# Ignore plan output files
*.tfplan

# Ignore Terraform's local data directory
.terraform/

# Ignore sensitive .tfvars files
*.tfvars

# Ignore lock file
.terraform.lock.hcl


*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info



# Ignore editor/IDE files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

#Ignore CLI configuration files
.terraformrc
terraform.rc

@Ignore graph output files 
#*.dot
